name: Build Hardened SAP BI AMI

on:
  push:
    branches: [ main ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Create SSH Private Key
        run: |
          mkdir -p terraform
          echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > terraform/my-key.pem
          chmod 400 terraform/my-key.pem

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
            -var="aws_region=ap-south-1" \
            -var="instance_id=${{ secrets.INSTANCE_ID }}" \
            -var="instance_public_ip=${{ secrets.INSTANCE_PUBLIC_IP }}" \
            -var="ssh_user=ec2-user" \
            -var="ami_name=sap-bi-prod-ami"
